---
permalink: /recherche.json
eleventyExcludeFromCollections: true
---
[
{%- for article in collections.articles %}
  {{ { url: article.url, texte: (article.data.title + " " + article.data.resume + " " + article.data.categorie + " " + (article.content | texteBrut)) } | dump | safe }}{% if not loop.last %},{% endif %}
{%- endfor %}
]
