---
permalink: /recherche.json
eleventyExcludeFromCollections: true
---
[
{%- for p in collections.publications %}
  {%- set d = p.data %}
  {{ { url: p.url, texte: [d.title, d.resume, d.rubrique, d.prenom, d.metier, p.content | texteBrut, (d.citations or []) | join(" "), (d.moments or []) | join(" ", "sujet"), d.situation, d.deroulement, d.pourquoi, d.appris, d.reflexe, d.recit, d.ressenti, d.recul, d.changements, d.conseil] | join(" ") } | dump | safe }}{% if not loop.last %},{% endif %}
{%- endfor %}
]
